<div>
	<form [formGroup]="form" (ngSubmit)="onSubmit()" >
		<div class="container">
			<div class="col-lg-5">
				<app-profile [formgroup]= "form" [isFormSubmitted]="isFormSubmitted">
				</app-profile>
			</div>

			<div class="col-lg-7">
				<div>
					<app-skills [formgroup]= "form" [skills]="skillComponentObject.skills" [selectedSkills]="skillComponentObject.selectedSkills" [removeall] = 'removeall' [pcfs]="skillComponentObject.pcfs" [microservices]="skillComponentObject.microservices" [isFormSubmitted]="isFormSubmitted">
					</app-skills>
				</div>
			</div>
		</div>

		<div class="text-right container">
			<button type="submit" >Submit</button> 
		</div>

	</form>
</div>