<div class="skill-matrix-profile-wrapper col-xs-12 ">
	<h1>Profile Introduction - Skill Matrix</h1>
	<div class="row">
		<div class="col-sm-6 col-xs-12 left-col">
			<div class="profile-image-box">
				<img class="img-circle" src="{{_SkillMatrixProfileData.profileImage}}"/>	
			</div>
			<div class="profile-left-data">
				<h2 class="profile-name">{{ _SkillMatrixProfileData.name }}</h2>
				<p class="profile-designation">{{ _SkillMatrixProfileData.designation }}</p>
			</div>
		</div>
		<div class="col-sm-6 col-xs-12 right-col">
			<div class="profile-skills">
				<ul>
					<li *ngFor= "let skillItem of _SkillMatrixProfileData.skills">{{ skillItem.skill }}</li>
				</ul>
			</div>
			<div class="profile-skills-graph-container">
				 <!--  <kendo-chart>
          <kendo-chart-category-axis>
            <kendo-chart-category-axis-item [categories]={{ _SkillMatrixProfileData.skills | json }}>
            </kendo-chart-category-axis-item>
          </kendo-chart-category-axis>
          <kendo-chart-series>
            <kendo-chart-series-item type="bar" [data]={{ _SkillMatrixProfileData.values[0] }}>
            </kendo-chart-series-item>
          </kendo-chart-series>
        </kendo-chart>   -->
			</div>
		</div>
	</div>
</div>