
<div class="form-group skills-component" [formGroup]="formgroup">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script type="text/javascript">
  new WOW().init();
</script>
	<div>
		<h4>
			User Skill(s)
		</h4>

		<h5>
			 Little Description | Certifications | Achievements
		</h5>

		<div>
			<p [hidden]="skills_ach_cert_desc.valid || !isFormSubmitted" class="required"> * required </p>
			<textarea formControlName="skills_ach_cert_desc"></textarea>
		</div>

		<h5>
			Or select from list below
		</h5>

		<div>	
			<kendo-tabstrip color="#337ab7">  <!-- [selected]="true" -->
		       <kendo-tabstrip-tab [selected]="true" [title]="'UI'">
		            
		            <div class="row">
					  <div *ngFor="let item of skills | async" class="col-sm-3">
					  	<input type="checkbox" (click)="addSkill(item)" name="skill" class="skill"> {{item.skill}}
					  </div>
					</div>
					
		       </kendo-tabstrip-tab>

		       <kendo-tabstrip-tab [title]="'PCF'" >
		       			{{ pcfs}}
		             <div *ngFor="let item of pcfs | async" class="col-sm-3">
					  	<input type="checkbox"  name="skill" class="skill"> {{item.pcf}}
					  </div>
		       </kendo-tabstrip-tab>

		       <kendo-tabstrip-tab [title]="'Micro Services'">
		            <span class="rainy">&nbsp;</span>
		            	create json file for Microservices and load the content using http service for Microservices
		           	<span class="rainy">&nbsp;</span>
		       </kendo-tabstrip-tab>

		     </kendo-tabstrip>
		</div>
		
		<!-- <input formControlName="skillsFormControl"> -->
		
		<ng-content></ng-content>
	</div>



	<!-- *ngIf="selectedSkills.length" -->
	<div *ngIf="selectedSkills.length" class="selected-skills-container">
	
		<div class="rate-urself-div">
			<p class="pull-left">
				 * Rate yourself out of 10 for Selected Skill(s)
			</p>
			<div class="pull-right">
			<span (click)="removeall();" class="nounderline c-s" title="deselect All"> Deselect All </span>
			</div>
		</div>

		
		<div>
	 		<ul>
				<li *ngFor="let object of selectedSkills" class="selected-skill wow slideInRight" >
					<span class="skill-name">{{object.skill}} </span>

					<!-- [incrementTitle]="'Inc'"
				            [decrementTitle]="'Dec'" -->

					<kendo-slider 
						[showButtons]="showButtons"
						[fixedTickWidth]="15"
				        [min]="min"
				        [max]="max"
				        [smallStep]="smallStep"
				        [(ngModel)] = "object.rate"
				        [ngModelOptions]="{standalone: true}"
				    ></kendo-slider>
				    <span class="skill-rate"> {{ object.rate }} / 10 </span>
					<span (click)="removeSkill(object)" class="remove-skill" title="deselect"> x</span>
				</li>
			</ul>
			<div class="clear"></div>
		</div>
		
	</div>

</div>

