
<div>
	<link rel="stylesheet" href="http://www.telerik.com/kendo-angular-ui/npm/node_modules//@telerik/kendo-theme-default/dist/all.css" />
	<div class="container">
		<div class="col-lg-5">
			<div class="">
				
				<div class="form-group">
					<h4>
						User Information
					</h4>
					
					<div class="text-center">
						<img src="../../assets/images/defaultDP.jpeg" class="img-circle" alt="profile picture" width="100" height="100">
					</div>

					<br><br>


					<div class="form-group">
					    <label class="control-label col-md-3">Name: </label>
					    <div class="input-group col-md-6">
					      {{ profile.name }}
					    </div>
					</div> 

					<div class="form-group">
					    <label class="control-label col-md-3">Domain: </label>
					    <div class="input-group col-md-6">
					      FrontEnd Engineer
					    </div>
					</div> 

					<div class="form-group">
					    <label class="control-label col-md-3">Designation: </label>
					    <div class="input-group col-md-6">
					      {{ profile.designation }}
					    </div>
					</div>

				</div>
			</div>
		</div>
		<div class="col-lg-7">
			
			<div>
			   
				
			</div>

			<div>
				<div *ngIf="profile.skills.length">
					<h4>
						Selected Skills 
					</h4>

			 		<ul>
						<li *ngFor="let skill of profile.skills" class="selected-skill some">
							{{ skill.skills }} - {{ skill.rate }} / 10  
						</li>
					</ul>
					<div style="clear: both;"></div>
					
				</div>
			</div>

		</div>
		
	</div>
	<div class="text-right container">
		<button (click)="onButtonClick()">Finish</button>
	</div>

</div>