<div class="form-group" [formGroup]="formgroup">
	<h4>User Information</h4>
	
	<div class="text-center">
		<img src="../../assets/images/defaultDP.jpeg" class="img-circle" alt="profile picture">
	</div>

	<!-- <kendo-upload
	    [saveUrl]="uploadSaveUrl"
	    [removeUrl]="uploadRemoveUrl"
	    [autoUpload]="false"
	    (select)="selectEventHandler($event)"
	  ></kendo-upload> -->

	<div class="form-group">
	    <label class="control-label col-md-4">Name: </label>
	    <div class="input-group col-md-6">
	      <input formControlName="name">
	      <p [hidden]="name.valid || !isFormSubmitted" class="required"> * required </p> 
	    </div>
	</div> 

	<div class="form-group">
	    <label class="control-label col-md-4">Domain: </label>
	    <div class="input-group col-md-6">
	      <input formControlName="department">
	      <p [hidden]="department.valid || !isFormSubmitted" class="required"> * required </p>
	    </div>
	</div> 

	<div class="form-group">
	    <label class="control-label col-md-4">Designation: </label>
	    <div class="input-group col-md-6">
	      <input formControlName="designation">
	      <p [hidden]="designation.valid || !isFormSubmitted" class="required"> * required </p>
	    </div>
	</div>

</div>

